*~
.DS_Store
.cask
bookmarks
projectile.cache
projectile-bookmarks.eld
ac-comphist.dat
ido.last
.emacs.desktop
.emacs.desktop.lock
network-security.data
tramp
elpa
eshell
recentf
transient
smex-items
yasnippet-snippets
opam-user-setup.el